html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover, a:active, a:focus, a:focus-within {
  color: rgb(224, 103, 51);
  font-weight: 700;
  text-decoration: none;
}

html {
  color: rgb(99, 96, 96);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 10px;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.container {
  max-width: 1222px; /* 1 */
  margin-left: auto; /* 2 */
  margin-right: auto; /* 2 */
  width: 100%; /* 1 */
}
@media (max-width: 768px) {
  .container {
    max-width: 668px;
  }
}
@media (max-width: 380px) {
  .container {
    max-width: 280px;
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.header {
  background-color: rgb(237, 242, 236);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 134px;
}
@media (max-width: 768px) {
  .header-container {
    height: 117px;
  }
}

.header__logo {
  margin-bottom: 8px;
  margin-left: 2px;
}

.header__nav ul {
  display: flex;
  list-style: none;
}

.nav__item {
  font: 400 1.6rem/50px "Inika", serif;
  color: rgb(1, 2, 1);
  margin-left: 47px;
}
.nav__item:hover {
  color: rgb(224, 103, 51);
  font-weight: 700;
}

.header__burger {
  display: none;
}

.welcome {
  background-color: rgb(237, 242, 236);
}

.welcome-container {
  display: flex;
  justify-content: space-between;
}

.welcome-leafs {
  background-image: url("../assets/images/welcome-leafs.png");
  width: 449px;
  height: 407px;
  margin: 54px auto 55px -8px;
}
@media (max-width: 768px) {
  .welcome-leafs {
    order: 1;
    width: 280px;
    height: 254px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 40px 0 126px auto;
  }
}

.welcome-slogan {
  width: 549px;
  margin: 92px 0 94px;
}
@media (max-width: 768px) {
  .welcome-slogan {
    width: 346px;
    margin: 40px auto 70px 0;
  }
}

.welcome-slogan__heading {
  font: 700 4.5rem/50px "Inter", sans-serif;
  color: rgb(113, 113, 113);
  margin: 0;
}
.welcome-slogan__heading span {
  color: rgb(73, 154, 24);
}
@media (max-width: 768px) {
  .welcome-slogan__heading {
    font-size: 3.5rem;
  }
}

.welcome-slogan__content {
  font: 2rem/35px "Inter", sans-serif;
  margin: 48px 0;
}
@media (max-width: 768px) {
  .welcome-slogan__content {
    font: 1.6rem/25px "Inter", sans-serif;
    margin: 30px 0;
  }
}

.about-container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }
}

.about-slogan {
  width: 605px;
  margin: 161px 0 155px;
}
@media (max-width: 768px) {
  .about-slogan {
    width: 100%;
    margin: 40px 0;
  }
}

.about-slogan__heading {
  font: 4rem/52px "Inika", serif;
  color: rgb(73, 154, 24);
  width: 463px;
  margin-top: 0;
  margin-bottom: 38px;
}
.about-slogan__heading span {
  color: rgb(224, 103, 51);
}
@media (max-width: 768px) {
  .about-slogan__heading {
    font: 3.5rem/45px "Inika", serif;
    width: 423px;
    margin: 0 auto 40px;
    text-align: center;
  }
}

.about-slogan__content {
  font: 2rem/30px "Inter", sans-serif;
  margin: 0;
}

.about-plant {
  background-image: url("../assets/images/houseplant.png");
  width: 464px;
  height: 479px;
  margin: 93px 0 94px;
}
@media (max-width: 768px) {
  .about-plant {
    width: 250px;
    height: 258px;
    background-size: contain;
    margin: 0 auto 95px;
  }
}

.service {
  background-color: rgb(237, 242, 236);
}

.service-container {
  display: flex;
  flex-direction: column;
}

.service__head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 38px 0 80px;
}
@media (max-width: 768px) {
  .service__head {
    margin: 60px 0 40px;
  }
}

.service__heading {
  font: 4rem/52px "Inika", serif;
  margin: 0;
  color: rgb(73, 154, 24);
  width: 306px;
  margin-right: 142px;
}
@media (max-width: 768px) {
  .service__heading {
    font: 3.5rem/45px "Inika", serif;
  }
}

.service__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 115px;
       column-gap: 115px;
  row-gap: 55px;
  margin-bottom: 121px;
}
@media (max-width: 768px) {
  .service__cards {
    -moz-column-gap: 106px;
         column-gap: 106px;
    row-gap: 38px;
    margin-bottom: 70px;
  }
}

.prices-container {
  display: flex;
  justify-content: space-between;
}

.prices-rates {
  margin: 36px 0 129px;
}

.prices-rates__heading {
  font: 700 4rem/48px "Inter", sans-serif;
  color: #000000;
  margin: 0 0 60px;
}
@media (max-width: 768px) {
  .prices-rates__heading {
    font: 700 3.5rem/42px "Inter", sans-serif;
    margin-bottom: 50px;
  }
}

.prices-slogan {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.prices-slogan__heading {
  font: 700 4rem/50px "Inter", sans-serif;
  color: #000000;
  text-align: right;
  width: 452px;
  margin-top: 36px;
}
.prices-slogan__heading span {
  color: rgb(73, 154, 24);
}
@media (max-width: 768px) {
  .prices-slogan__heading {
    font: 700 2.5rem/35px "Inter", sans-serif;
    width: 296px;
    margin: 139px 0 22px;
  }
}

.prices-leafs {
  background-image: url("../assets/images/prices-leafs.png");
  width: 152px;
  height: 175px;
  margin: 39px 0 115px;
}
@media (max-width: 768px) {
  .prices-leafs {
    margin: 34px 0 88px;
  }
}

.contacts {
  background-color: rgb(237, 242, 236);
}

.contacts-container {
  position: relative;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .contacts-container {
    flex-direction: column;
  }
}

.contacts__women {
  background-image: url("../assets/images/contact-woman.png");
  width: 400px;
  height: 497px;
  margin-top: 49px;
}
@media (max-width: 768px) {
  .contacts__women {
    order: 2;
    width: 200px;
    height: 248px;
    background-size: contain;
    margin: 0 auto;
  }
}

.contacts__heading {
  font: 700 4rem/52px "Inika", serif;
  color: rgb(73, 154, 24);
  margin-top: 56px;
  margin-left: 46px;
}
@media (max-width: 768px) {
  .contacts__heading {
    order: 0;
    margin: 40px auto 0;
  }
}

.city-card {
  display: none;
  position: absolute;
  top: 245px;
  right: 0;
  flex-direction: column;
  width: 448px;
  padding: 17px 35px 32px;
  background-color: rgb(237, 242, 236);
  border: 1px solid #000000;
  border-radius: 20px;
}

.city-card__container {
  display: flex;
  font: 1.6rem/40px "Inter", sans-serif;
}

.city-card__heading {
  color: #000000;
  width: 128px;
}

.city-card__content {
  color: rgb(113, 113, 113);
  letter-spacing: 0.05em;
}

.city-card--active {
  display: flex;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  color: #000000;
  font: 2rem/50px "Inter", sans-serif;
}
.footer-container p {
  margin: 0;
}
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    padding: 33px 0;
  }
}

@media (max-width: 768px) {
  .footer__copyright {
    margin: 0 auto;
  }
}

.footer__copyright span {
  margin-right: 15px;
}
@media (max-width: 768px) {
  .footer__copyright span {
    margin-right: 20px;
  }
}

.footer__school {
  padding-left: 83px;
}
@media (max-width: 768px) {
  .footer__school {
    padding: 0;
  }
}

.footer__socials {
  list-style: none;
  display: flex;
  margin: 0;
}
.footer__socials li {
  margin-left: 28px;
  margin-top: 5px;
}
@media (max-width: 768px) {
  .footer__socials li {
    margin-left: 20px;
  }
  .footer__socials li:first-child {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .footer__socials {
    padding: 0;
  }
}

.button {
  border: 1px solid #E06733;
  border-radius: 5px;
  background-color: transparent;
}
.button:hover {
  cursor: pointer;
}

.welcome-slogan__button {
  border: 2px solid #E06733;
  color: #000000;
  border-radius: 10px;
  width: 158px;
  height: 44px;
  font: 1.6rem/20px "Inter", sans-serif;
  text-transform: uppercase;
}
.welcome-slogan__button:hover {
  background-color: rgb(224, 103, 51);
  color: #ffffff;
}
.welcome-slogan__button:active {
  background-color: transparent;
  color: rgb(224, 103, 51);
  font-weight: 400;
}

.service__button {
  width: 161px;
  height: 50px;
  color: rgb(224, 103, 51);
  font: 2rem/26px "Inika", serif;
  margin: 20px 35px 15px 0;
}
.service__button:active {
  background-color: rgb(224, 103, 51);
  color: #ffffff;
}
.service__button--active {
  background-color: rgb(224, 103, 51);
  color: #ffffff;
}
@media (max-width: 768px) {
  .service__button {
    margin: 40px 38px 0 0;
  }
}

.prices-slogan__button {
  width: 162px;
  height: 50px;
  color: rgb(224, 103, 51);
  font: 700 2rem/26px "Inika", serif;
}
.prices-slogan__button:hover {
  background-color: rgb(224, 103, 51);
  color: #ffffff;
}
.prices-slogan__button:active {
  background-color: transparent;
  color: rgb(224, 103, 51);
  font-weight: 400;
}

.tariff__order-button {
  border: none;
  width: 86px;
  height: 25px;
  background: #FFFFFF;
  border-radius: 10px;
  font: 700 1.4rem/20px "Inter", sans-serif;
  color: rgb(113, 113, 113);
}

.city-card__button {
  width: 122px;
  height: 26px;
  font: 700 1rem/13px "Inika", serif;
  color: rgb(113, 113, 113);
  align-self: center;
}

.card-item {
  width: 330px;
}
.card-item__img {
  border-radius: 20px 20px 0px 0px;
}
@media (max-width: 768px) {
  .card-item__img {
    width: 280px;
  }
}
.card-item__heading {
  color: rgb(224, 103, 51);
  font: 700 2rem/20px "Inter", sans-serif;
  text-align: center;
  margin: 0;
  padding-top: 8px;
}
.card-item__desc {
  font: 1.6rem/20px "Inter", sans-serif;
  text-align: center;
  margin: 14px auto 36px;
}
.card-item__plate {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #E3E1D5;
  border-radius: 0px 0px 20px 20px;
}
@media (max-width: 768px) {
  .card-item {
    width: 280px;
  }
}

.card-item--inactive {
  filter: blur(2px);
}

.prices-rates__accordion {
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  padding: 34px 41px;
}

.accordion__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: rgb(237, 242, 236);
  width: 250px;
  border-radius: 20px;
  padding: 16px 40px;
  margin-top: 30px;
}
.accordion__item:first-child {
  margin-top: 0;
}

.item__name {
  font: 700 2rem/20px "Inter", sans-serif;
  color: #000000;
  margin: 0;
}

.item__arrow {
  background-image: url("../assets/icons/accordion_arrow.svg");
  width: 16px;
  height: 16px;
}

.tariff {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 250px;
  background-color: rgb(214, 231, 210);
  padding: 16px 40px 12px;
  border-radius: 20px;
}

.tariff--active {
  display: block;
}

.tariff__name {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tariff__name p {
  font: 700 2rem/20px "Inter", sans-serif;
  color: #000000;
  margin: 0;
}

.tariff__arrow {
  background-image: url("../assets/icons/accordion_arrow--active.svg");
  width: 16px;
  height: 16px;
}

.tariff__line {
  background-image: url("../assets/icons/tariff_line.svg");
  width: 164px;
  height: 1px;
  margin: 12px auto 6px;
}

.tariff__desc {
  margin: 0;
  font: 300 1rem/10px "Inter", sans-serif;
  color: rgb(113, 113, 113);
}

.tariff__price {
  font: 1.2rem/20px "Inter", sans-serif;
  color: #000000;
  margin: 6px auto 12px;
}
.tariff__price span {
  color: rgb(224, 103, 51);
  font-weight: 700;
}

.price__amount {
  font-size: 16px;
}

.price__currency {
  font-size: 12px;
}

.contacts__select {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 35px 0 0;
  width: 450px;
  background-color: rgb(214, 231, 210);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 50px;
  margin-top: 144px;
  letter-spacing: 0.05em;
}
@media (max-width: 768px) {
  .contacts__select {
    order: 1;
    margin: 100px auto 250px;
  }
}

.select--active {
  background-color: rgb(193, 230, 152);
}

.select__current {
  font: 2rem/40px "Inter", sans-serif;
  color: rgb(113, 113, 113);
  margin-left: 20px;
}

.select__arrow {
  background-image: url("../assets/icons/select_arrow.svg");
  width: 16px;
  height: 16px;
}

.select__arrow--active {
  background-image: url("../assets/icons/select_arrow--active.svg");
  width: 16px;
  height: 16px;
}

.select__dropdown {
  display: none;
  position: absolute;
  z-index: 10;
  top: 50px;
  left: 0;
  background-color: rgb(214, 231, 210);
  width: 450px;
  padding: 27px 35px 31px;
}

.select__dropdown--active {
  display: block;
}

.select__item {
  position: relative;
  display: block;
  font: 1.6rem/40px "Inter", sans-serif;
  color: rgb(73, 154, 24);
  margin: 12px auto 0;
  height: 35px;
  letter-spacing: 0.05em;
}
.select__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 380px;
  height: 1px;
  background-color: rgb(217, 217, 217);
}
.select__item:first-child {
  margin-top: 0;
}

.select__item:hover {
  cursor: pointer;
  color: rgb(113, 113, 113);
}
.select__item:hover::after {
  background-color: rgb(113, 113, 113);
}/*# sourceMappingURL=main.css.map */