.about-container {
  display: flex;
  justify-content: space-between;

  @include media-tablet {
    flex-direction: column;
  }
}

.about-slogan {
  width: 605px;
  margin: 161px 0 155px;

  @include media-tablet {
    width: 100%;
    margin: 40px 0;
  }

  @include media-mobile {
    margin: 30px 0 0;
  }
}

.about-slogan__heading {
  font: 4rem / 52px $additional-font;
  color: $brand-color;
  width: 463px;
  margin-top: 0;
  margin-bottom: 38px;

  & span {
    color: $brand-highlight;
  }

  @include media-tablet {
    font: 3.5rem / 45px $additional-font;
    width: 423px;
    margin: 0 auto 52px;
    text-align: center;
  }

  @include media-mobile {
    font: 2.5rem / 33px $additional-font;
    width: 288px;
    margin-bottom: 21px;
  }
}

.about-slogan__content {
  font: 2rem / 30px $text-font;
  margin: 0;

  @include media-mobile {
    font: 1.5rem / 25px $text-font;
  }
}


.about-plant {
  background-image: url('../assets/images/houseplant.png');
  width: 464px;
  height: 479px;
  margin: 93px 0 94px;

  @include media-tablet {
    width: 250px;
    height: 258px;
    background-size: contain;
    margin: 28px auto 95px;
  }

  @include media-mobile {
    width: 140px;
    height: 145px;
    margin: 0 auto 31px;
  }
}