.contacts {
  background-color: $background;
}

.contacts-container {
  position: relative;
  display: flex; 
  justify-content: space-between;

  @include media-tablet {
    flex-direction: column;
  }
}

.contacts__women {
  background-image: url('../assets/images/contact-woman.png');
  width: 400px;
  height: 497px;
  margin-top: 49px;

  @include media-tablet {
    order: 2;
    width: 200px;
    height: 248px;
    background-size: contain;
    margin: 0 244px 0;
  }

  @include media-mobile {
    width: 100px;
    height: 124px;
    margin: 132px auto 0;
  }
}

.contacts__women--hide {
  @include media-mobile {
    display: none;
  }
}

.contacts__heading {
  font: 700 4rem / 52px $additional-font;
  color: $brand-color;
  margin-top: 56px;
  margin-left: 46px;

  @include media-tablet {
    order: 0;
    margin: 40px auto 0;
  }

  @include media-mobile {
    font: 700 2.5rem / 33px $additional-font;
    margin: 25px auto 0;
  }  
}

.city-card {
  display: none;
  position: absolute;
  top: 245px;
  right: 100px;
  flex-direction: column;
  width: 448px;
  padding: 17px 35px 32px;
  background-color: $background;
  border: 1px solid #000000;
  border-radius: 20px;

  @include media-tablet {
    top: 263px;
    right: 160px;
  }

  @include media-mobile {
    position: static;
    order: 3;
    margin: 50px auto 33px;
    width: 282px;
    padding: 23px 36px 23px 30px;
    
  }
}

.city-card__container {
  display: flex;
  font: 1.6rem / 40px $text-font;

  @include media-mobile {
    margin-bottom: 15px;
  }
}

.city-card__heading {
  color: #000000;
  width: 128px;
  margin: 0;

  @include media-mobile {
    width: 65px;
    line-height: 20px;
  }
}

.city-card__content {
  color: $text-light;
  letter-spacing: 0.05em;
  margin: 0;

  @include media-mobile {
    line-height: 20px;
    margin-left: 5px;
  }  
}

.city-card--active {
  display: flex;
  // position: absolute;
}