.contacts {
  background-color: $background;
}

.contacts-container {
  position: relative;
  display: flex; 
  justify-content: space-between;

  @include media-tablet {
    flex-direction: column;
  }
}

.contacts__women {
  background-image: url('../assets/images/contact-woman.png');
  width: 400px;
  height: 497px;
  margin-top: 49px;

  @include media-tablet {
    order: 2;
    width: 200px;
    height: 248px;
    background-size: contain;
    margin: 0 auto;  
  }
}

.contacts__heading {
  font: 700 4rem / 52px $additional-font;
  color: $brand-color;
  margin-top: 56px;
  margin-left: 46px;

  @include media-tablet {
    order: 0;
    margin: 40px auto 0;
  }
}

.city-card {
  display: none;
  position: absolute;
  top: 245px;
  right: 0;
  flex-direction: column;
  width: 448px;
  padding: 17px 35px 32px;
  background-color: $background;
  border: 1px solid #000000;
  border-radius: 20px;

  @include media-tablet {
    top: 263px;
    right: 110px;
  }
}

.city-card__container {
  display: flex;
  font: 1.6rem / 40px $text-font;
}

.city-card__heading {
  color: #000000;
  width: 128px;
  margin: 0;
}

.city-card__content {
  color: $text-light;
  letter-spacing: 0.05em;
  margin: 0;
}

.city-card--active {
  display: flex;
}