.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  color: #000000;
  font: 2rem / 50px $text-font;

  & p {
    margin: 0;
  }

  @include media-tablet  {
    flex-direction: column;
    padding: 20px 0;
    font: 2rem / 24px $text-font;
  }

  @include media-mobile {
    padding: 22px 0 5px;
  }
}

.footer__copyright {
  @include media-tablet {
    margin: 10px auto 20px auto;
  }

  @include media-mobile {
    margin: 0 auto 16px;
  }
}

.footer__copyright span {
  margin-right: 15px;

  @include media-tablet {
    margin-right: 18px;
  }
}

.footer__school {
  padding-left: 83px;

  @include media-tablet {
    padding: 0;
    margin: 20px auto;
  }
}

.footer__socials {
  list-style: none;
  display: flex;
  
  margin: 0;

  & li {
    margin-left: 28px;
    margin-top: 5px;

    @include media-tablet {
      margin-left: 27px;
      margin-top: 25px;


      &:first-child {
        margin-left: 0;
      }
    }
  }

  @include media-tablet {
    padding: 0;
  }
}