.header {
  background-color: $background;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 134px;

  @include media-tablet {
    height: 117px;
  }

  @include media-mobile {
    height: 96px;
  }
}

.header__logo {
  margin-bottom: 8px;
  margin-left: 2px;
}

.header__nav {
  @include media-mobile {
    // transform: translate(500%);
    // transition: all ease 2s;
    display: none;
  }
}

.header__nav--active {
  @include media-mobile {
    // transform: translate(0%);
    display: block;
    position: absolute;
    background-color: $selected;
    top: 25px;
    right: 0;
    // transition: all ease 2s;
  }
}

.header__nav ul {
  display: flex;
  list-style: none;
  padding: 0;

  @include media-mobile {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  & li {
    @include media-mobile {
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.26);
    width: 175px;
    text-align: right;
    }
  }
}

.nav__item {
  font: 400 1.6rem / 50px $additional-font;
  color: $text-dark;
  margin-left: 47px;

  &:hover {
    color: $brand-highlight;
    font-weight: 700;
  }

  @include media-mobile {
    margin: 0;
    padding: 10px 25px;
    width: 100%;
  }
}

.header__burger {
  display: none;
  background-image: url(../assets/icons/burger.png);
  width: 40px;
  height: 26px;

  @include media-mobile {
    display: block;
  }
}

.nav__cross {
  display: none;

  @include media-mobile {
    display: block;
    background-image: url(../assets/icons/cross.png);
    background-size: contain;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 13px;
    left: 10px;
    z-index: 10;
  }
}