.header {
  background-color: $background;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 134px;

  @include media-tablet {
    height: 117px;
  }

  @include media-mobile {
    height: 96px;
  }
}

.header__logo {
  margin-bottom: 8px;
  margin-left: 2px;
}

.header__nav {
  @include media-mobile {
    display: none;
  }
}

.header__nav ul {
  display: flex;
  list-style: none;
}

.nav__item {
  font: 400 1.6rem / 50px $additional-font;
  color: $text-dark;
  margin-left: 47px;

  &:hover {
    color: $brand-highlight;
    font-weight: 700;
  }
}

.header__burger {
  display: none;
  background-image: url(../assets/icons/burger.png);
  width: 40px;
  height: 26px;

  @include media-mobile {
    display: block;
  }
}