.prices-container {
  display: flex;
  justify-content: space-between;

  @include media-mobile {
    flex-direction: column;
  }
}

.prices-rates {
  margin: 36px 0 129px;

  @include media-mobile {
    margin: 25px auto 20px;
  }
}

.prices-rates__heading {
  font: 700 4rem / 48px $text-font;
  color: #000000;
  margin: 0 0 60px;

  @include media-tablet {
    font: 700 3.5rem / 42px $text-font;
    margin: 0 auto 55px 15px;
  }

  @include media-mobile {
    font: 700 2.5rem / 30px $text-font;
    margin: 0 auto 40px;
    text-align: center;
  }
}

.prices-slogan {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.prices-slogan__heading {
  font: 700 4rem / 50px $text-font;
  color: #000000;
  text-align: right;
  width: 452px;
  margin-top: 36px;

  & span {
    color: $brand-color;
  }

  @include media-tablet {
    font: 700 2.5rem / 35px $text-font;
    width: 296px;
    margin: 135px 0 29px;
  }

  @include media-mobile {
    font: 700 2rem / 35px $text-font;
    margin: 0 auto 14px;
    width: 230px;
    text-align: center;
  }
}

.prices-leafs {
  background-image: url('../assets/images/prices-leafs.png');
  width: 152px;
  height: 175px;
  margin: 39px 0 115px;

  @include media-tablet {
    margin: 34px 0 88px;
  }

  @include media-mobile {
    display: none;
  }
}