.welcome {
  background-color: $background;
}

.welcome-container {
  display: flex;
  justify-content: space-between;
}

.welcome-leafs {
  background-image: url('../assets/images/welcome-leafs.png');
  width: 449px;
  height: 407px;
  margin: 54px auto 55px -8px;
  
  @include media-tablet {
    order: 1;
    width: 280px;
    height: 254px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 40px 0 126px auto;
  }

  @include media-mobile {
    display: none;
  }
}

.welcome-slogan {
  width: 549px;
  margin: 92px 0 94px;

  @include media-tablet {
    width: 346px;
    margin: 40px auto 70px 0;
  }

  @include media-mobile {
    margin: 24px auto;
    width: 100%;
  }
}

.welcome-slogan__heading {
  font: 700 4.5rem / 50px $text-font;
  color: $text-light;
  margin: 0;

  & span {
    color: $brand-color;
  }

  @include media-tablet {
    font-size: 3.5rem;
  }

  @include media-mobile {
    font: 700 2.5rem / 35px $text-font;
  }  
}

.welcome-slogan__content {
  font: 2rem / 35px $text-font;
  margin: 48px 0;

  @include media-tablet {
    font: 1.6rem / 25px $text-font;
    margin: 30px 0 35px;
    padding-left: 5px;
  }

  @include media-mobile {
    margin: 23px 0;
  }
}