
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.container {
  max-width: 1440px; /* 1 */
  margin-left: auto; /* 2 */
  margin-right: auto; /* 2 */
  width: 100%; /* 1 */
  padding-left: 100px;
  padding-right: 100px;

  @media (max-width: $tablet-width) {
  max-width: 768px;
  padding-left: 50px;
  padding-right: 50px;
  }

  @media (max-width: $mobile-width) {
    max-width: 380px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
