.button {
  border: 1px solid #E06733;
  border-radius: 5px;
  background-color: transparent; 

  &:hover {
    cursor: pointer;
  }
}

.welcome-slogan__button {
  border: 2px solid #E06733;
  color: #000000;
  border-radius: 10px;
  width: 158px;
  height: 44px;
  font: 1.6rem / 20px $text-font;
  text-transform: uppercase;

  &:hover {
    background-color: $brand-highlight;
    color: #ffffff;
  }

  &:active {
    background-color: transparent;
    color: $brand-highlight;
    font-weight: 400;
  }

  @include media-mobile {
    font-size: 1rem;
    width: 100px;
    height: 34px;
  }
}

.service__button {
  width: 161px;
  height: 50px;
  color: $brand-highlight;
  font: 2rem / 26px $additional-font;
  margin: 20px 35px 15px 0;
  transition: background-color 0.5s ease;

  &:active {
    background-color: $brand-highlight;
    color: #ffffff;
  }

  &--active {
    background-color: $brand-highlight;
    color: #ffffff;
  }

  @include media-tablet {
    margin: 44px 35px 0 0; 
  }

  @include media-mobile {
    width: 121px;
    height: 35px;
    font: 1.5rem / 20px $additional-font;
    margin: 0 10px 10px 0;
  }
  
}

.prices-slogan__button {
  width: 162px;
  height: 50px;
  color: $brand-highlight;
  font: 700 2rem / 26px $additional-font;

  &:hover {
    background-color: $brand-highlight;
    color: #ffffff;
  }

  &:active {
    background-color: transparent;
    color: $brand-highlight;
    font-weight: 400;
  }

  @include media-mobile {
    width: 121px;
    height: 35px;
    font: 700 1.5rem / 20px $additional-font;
    margin: 0 auto 40px;
  }
}

.tariff__order {
  border: none;
  width: 86px;
  height: 25px;
  background: #FFFFFF;
  border-radius: 10px;
  font: 700 1.4rem / 20px $text-font;
  color: $text-light;
}

.city-card__button {
  width: 122px;
  height: 26px;
  font: 700 1rem / 13px $additional-font;
  color: $text-light;
  align-self: center;
  margin-top: 24px;

  @include media-mobile {
    margin-top: 5px;
  }
}