.button {
  border: 1px solid #E06733;
  border-radius: 5px;
  background-color: transparent; 

  &:hover {
    cursor: pointer;
  }
}

.welcome-slogan__button {
  border: 2px solid #E06733;
  border-radius: 10px;
  width: 158px;
  height: 44px;
  font: 1.6rem / 20px $text-font;
  text-transform: uppercase;
}

.service__button {
  width: 161px;
  height: 50px;
  color: $brand-highlight;
  font: 2rem / 26px $additional-font;
  margin: 30px 38px 15px 0;

  &--active {
    background-color: $brand-highlight;
    color: #ffffff;
  }
}

.prices-slogan__button {
  width: 162px;
  height: 50px;
  color: $brand-highlight;
  font: 700 2rem / 26px $additional-font;
}

.tariff__order {
  border: none;
  width: 86px;
  height: 25px;
  background: #FFFFFF;
  border-radius: 10px;
  font: 700 1.4rem / 20px $text-font;
  color: $text-light;
  // font-weight: 700;
}