
/// Regular font family
/// @type List
$text-font: 'Inter', sans-serif;

/// Code (monospace) font family
/// @type List
$additional-font: 'Inika', serif;

$brand-color: rgba(73, 154, 24, 1);
$brand-highlight: rgba(224, 103, 51, 1);

$text-color: rgba(99, 96, 96, 1);
$text-light: rgba(113, 113, 113, 1);
$text-dark: rgba(1, 2, 1, 1);

$background: rgba(237, 242, 236, 1);
$background-active: rgba(214, 231, 210, 1);
$selected: rgba(193, 230, 152, 1);

/// Container's maximum width
/// @type Length
$max-width: 1440px;
$tablet-width: 768px;
$mobile-width: 380px;